* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.grid-wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .grid-wrapper:after {
    content: "";
    display: table;
    clear: both; }

.soft-dropshadow, .testimonials-homepage .testimonial-widget > div, .program-widget, .testimonial-box {
  -webkit-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.18); }

button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #11afbc;
  border-radius: 0;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #0b6e76;
    color: white; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #444444;
  font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "bree", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #11afbc;
  text-decoration: none; }
  a:hover {
    color: #0b6e76; }
  a:active, a:focus {
    color: #0b6e76;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #6a6a6a;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #848484;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #11afbc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(15, 153, 165, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/**
 * slippry v1.2.1 - Simple responsive content slider
 * http://slippry.com
 *
 * Author(s): Lukas Jakob Hafner - @saftsaak
 *            Thomas Hurd - @SeenNotHurd
 *
 * Copyright 2013, booncon oy - http://booncon.com
 *
 * Thanks @ http://bxslider.com for the inspiration!
 *
 * Released under the MIT license - http://opensource.org/licenses/MIT
 */
/* -------------------------- MIXINS ---------------------------------- */
/* -------------------------- END MIXINS ---------------------------------- */
/* kenBurns animations, very basic */
@-webkit-keyframes left-right {
  0% {
    -webkit-transform: translateY(-20%) translateX(-10%);
    -moz-transform: translateY(-20%) translateX(-10%);
    -ms-transform: translateY(-20%) translateX(-10%);
    -o-transform: translateY(-20%) translateX(-10%);
    transform: translateY(-20%) translateX(-10%); }

  100% {
    -webkit-transform: translateY(0%) translateX(10%);
    -moz-transform: translateY(0%) translateX(10%);
    -ms-transform: translateY(0%) translateX(10%);
    -o-transform: translateY(0%) translateX(10%);
    transform: translateY(0%) translateX(10%); } }
@-moz-keyframes left-right {
  0% {
    -webkit-transform: translateY(-20%) translateX(-10%);
    -moz-transform: translateY(-20%) translateX(-10%);
    -ms-transform: translateY(-20%) translateX(-10%);
    -o-transform: translateY(-20%) translateX(-10%);
    transform: translateY(-20%) translateX(-10%); }

  100% {
    -webkit-transform: translateY(0%) translateX(10%);
    -moz-transform: translateY(0%) translateX(10%);
    -ms-transform: translateY(0%) translateX(10%);
    -o-transform: translateY(0%) translateX(10%);
    transform: translateY(0%) translateX(10%); } }
@-ms-keyframes left-right {
  0% {
    -webkit-transform: translateY(-20%) translateX(-10%);
    -moz-transform: translateY(-20%) translateX(-10%);
    -ms-transform: translateY(-20%) translateX(-10%);
    -o-transform: translateY(-20%) translateX(-10%);
    transform: translateY(-20%) translateX(-10%); }

  100% {
    -webkit-transform: translateY(0%) translateX(10%);
    -moz-transform: translateY(0%) translateX(10%);
    -ms-transform: translateY(0%) translateX(10%);
    -o-transform: translateY(0%) translateX(10%);
    transform: translateY(0%) translateX(10%); } }
@keyframes left-right {
  0% {
    -webkit-transform: translateY(-20%) translateX(-10%);
    -moz-transform: translateY(-20%) translateX(-10%);
    -ms-transform: translateY(-20%) translateX(-10%);
    -o-transform: translateY(-20%) translateX(-10%);
    transform: translateY(-20%) translateX(-10%); }

  100% {
    -webkit-transform: translateY(0%) translateX(10%);
    -moz-transform: translateY(0%) translateX(10%);
    -ms-transform: translateY(0%) translateX(10%);
    -o-transform: translateY(0%) translateX(10%);
    transform: translateY(0%) translateX(10%); } }
@-webkit-keyframes right-left {
  0% {
    -webkit-transform: translateY(0%) translateX(10%);
    -moz-transform: translateY(0%) translateX(10%);
    -ms-transform: translateY(0%) translateX(10%);
    -o-transform: translateY(0%) translateX(10%);
    transform: translateY(0%) translateX(10%); }

  100% {
    -webkit-transform: translateY(-20%) translateX(-10%);
    -moz-transform: translateY(-20%) translateX(-10%);
    -ms-transform: translateY(-20%) translateX(-10%);
    -o-transform: translateY(-20%) translateX(-10%);
    transform: translateY(-20%) translateX(-10%); } }
@-moz-keyframes right-left {
  0% {
    -webkit-transform: translateY(0%) translateX(10%);
    -moz-transform: translateY(0%) translateX(10%);
    -ms-transform: translateY(0%) translateX(10%);
    -o-transform: translateY(0%) translateX(10%);
    transform: translateY(0%) translateX(10%); }

  100% {
    -webkit-transform: translateY(-20%) translateX(-10%);
    -moz-transform: translateY(-20%) translateX(-10%);
    -ms-transform: translateY(-20%) translateX(-10%);
    -o-transform: translateY(-20%) translateX(-10%);
    transform: translateY(-20%) translateX(-10%); } }
@-ms-keyframes right-left {
  0% {
    -webkit-transform: translateY(0%) translateX(10%);
    -moz-transform: translateY(0%) translateX(10%);
    -ms-transform: translateY(0%) translateX(10%);
    -o-transform: translateY(0%) translateX(10%);
    transform: translateY(0%) translateX(10%); }

  100% {
    -webkit-transform: translateY(-20%) translateX(-10%);
    -moz-transform: translateY(-20%) translateX(-10%);
    -ms-transform: translateY(-20%) translateX(-10%);
    -o-transform: translateY(-20%) translateX(-10%);
    transform: translateY(-20%) translateX(-10%); } }
@keyframes right-left {
  0% {
    -webkit-transform: translateY(0%) translateX(10%);
    -moz-transform: translateY(0%) translateX(10%);
    -ms-transform: translateY(0%) translateX(10%);
    -o-transform: translateY(0%) translateX(10%);
    transform: translateY(0%) translateX(10%); }

  100% {
    -webkit-transform: translateY(-20%) translateX(-10%);
    -moz-transform: translateY(-20%) translateX(-10%);
    -ms-transform: translateY(-20%) translateX(-10%);
    -o-transform: translateY(-20%) translateX(-10%);
    transform: translateY(-20%) translateX(-10%); } }
/* added to the original element calling slippry */
.sy-box.sy-loading {
  background: url(/img/slippry-assets/sy-loader.gif) 50% 50% no-repeat;
  -webkit-background-size: compact(32px, false, false, false, false, false, false, false, false, false);
  -moz-background-size: compact(32px, false, false, false, false, false, false, false, false, false);
  -o-background-size: compact(32px, false, false, false, false, false, false, false, false, false);
  background-size: compact(32px, false, false, false, false, false, false, false, false, false);
  min-height: 40px; }
  .sy-box.sy-loading .sy-slides-wrap, .sy-box.sy-loading .sy-pager {
    visibility: hidden; }

/* element that wraps the slides */
.sy-slides-wrap {
  position: relative;
  height: 100%;
  width: 100%; }
  .sy-slides-wrap:hover .sy-controls {
    display: block; }

/* element that crops the visible area to the slides */
.sy-slides-crop {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden; }

/* list containing the slides */
.sy-list {
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute; }
  .sy-list.horizontal {
    -webkit-transition: left ease;
    -moz-transition: left ease;
    transition: left ease; }
  .sy-list.vertical {
    -webkit-transition: top ease;
    -moz-transition: top ease;
    transition: top ease; }

/* single slide */
.sy-slide {
  position: absolute;
  width: 100%;
  z-index: 2; }
  .sy-slide.kenburns {
    width: 140%;
    left: -20%; }
    .sy-slide.kenburns.useCSS {
      -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
      transition-property: opacity; }
      .sy-slide.kenburns.useCSS.sy-ken:nth-child(1n) {
        -webkit-animation-name: left-right;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-name: left-right;
        -moz-animation-fill-mode: forwards;
        -o-animation-name: left-right;
        -o-animation-fill-mode: forwards;
        animation-name: left-right;
        animation-fill-mode: forwards; }
      .sy-slide.kenburns.useCSS.sy-ken:nth-child(2n) {
        -webkit-animation-name: right-left;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-name: right-left;
        -moz-animation-fill-mode: forwards;
        -o-animation-name: right-left;
        -o-animation-fill-mode: forwards;
        animation-name: right-left;
        animation-fill-mode: forwards; }
  .sy-slide.sy-active {
    z-index: 3; }
  .sy-slide > a {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%; }
    .sy-slide > a > img {
      margin: 0;
      padding: 0;
      display: block;
      width: 100%;
      border: 0; }

/* next/ prev buttons, with arrows and clickable area a lot larger than the visible buttons */
.sy-controls {
  display: none;
  list-style: none;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0;
  margin: 0; }
  .sy-controls li {
    position: absolute;
    width: 10%;
    min-width: 4.2em;
    height: 100%;
    z-index: 33; }
    .sy-controls li.sy-prev {
      left: 0;
      top: 0; }
      .sy-controls li.sy-prev a:after {
        background-position: -5% 0; }
    .sy-controls li.sy-next {
      right: 0;
      top: 0; }
      .sy-controls li.sy-next a:after {
        background-position: 105% 0; }
    .sy-controls li a {
      position: relative;
      width: 100%;
      height: 100%;
      display: block;
      text-indent: -9999px; }
      .sy-controls li a:link, .sy-controls li a:visited {
        opacity: 0.4; }
      .sy-controls li a:hover, .sy-controls li a:focus {
        opacity: 0.8;
        outline: none; }
      .sy-controls li a:after {
        content: "";
        background-image: url(assets/img/arrows.svg);
        background-repeat: no-repeat;
        -webkit-background-size: compact(cover, false, false, false, false, false, false, false, false, false);
        -moz-background-size: compact(cover, false, false, false, false, false, false, false, false, false);
        -o-background-size: compact(cover, false, false, false, false, false, false, false, false, false);
        background-size: compact(cover, false, false, false, false, false, false, false, false, false);
        text-align: center;
        text-indent: 0;
        line-height: 2.8em;
        color: #111;
        font-weight: 800;
        position: absolute;
        background-color: #fff;
        width: 2.8em;
        height: 2.8em;
        left: 50%;
        top: 50%;
        margin-top: -1.4em;
        margin-left: -1.4em;
        -webkit-border-radius: 50%;
        -khtml-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%; }
  @media only screen and (max-device-width: 600px) {
    .sy-controls {
      display: block; }
      .sy-controls li {
        min-width: 2.1em; }
        .sy-controls li a:after {
          width: 1.4em;
          height: 1.4em;
          margin-top: -0.7em;
          margin-left: -0.7em; } }

/* captions, styled fo the overlay variant */
.sy-caption-wrap {
  position: absolute;
  bottom: 2em;
  z-index: 12;
  left: 50%; }
  .sy-caption-wrap .sy-caption {
    position: relative;
    left: -50%;
    background-color: rgba(0, 0, 0, 0.54);
    color: #fff;
    padding: 0.4em 1em;
    -webkit-border-radius: 1.2em;
    -khtml-border-radius: 1.2em;
    -moz-border-radius: 1.2em;
    -ms-border-radius: 1.2em;
    -o-border-radius: 1.2em;
    border-radius: 1.2em; }
    .sy-caption-wrap .sy-caption a:link, .sy-caption-wrap .sy-caption a:visited {
      color: #e24b70;
      font-weight: 600;
      text-decoration: none; }
    .sy-caption-wrap .sy-caption a:hover, .sy-caption-wrap .sy-caption a:focus {
      text-decoration: underline; }
  @media only screen and (max-device-width: 600px), screen and (max-width: 600px) {
    .sy-caption-wrap {
      left: 0;
      bottom: 0.4em; }
      .sy-caption-wrap .sy-caption {
        left: 0;
        padding: 0.2em 0.4em;
        font-size: 0.92em;
        -webkit-border-radius: 0;
        -khtml-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0; } }

/* pager bubbles */
.sy-pager {
  display: block;
  width: 100%;
  margin: 1em 0 0;
  padding: 0;
  list-style: none;
  text-align: center; }
  .sy-pager:after {
    content: "";
    display: table;
    clear: both; }
  .sy-pager li {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin: 0 1em 0 0;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
    .sy-pager li.sy-active a {
      background-color: #e24b70; }
    .sy-pager li a {
      width: 100%;
      height: 100%;
      display: block;
      background-color: #cccccc;
      text-indent: -9999px;
      -webkit-background-size: compact(2em, false, false, false, false, false, false, false, false, false);
      -moz-background-size: compact(2em, false, false, false, false, false, false, false, false, false);
      -o-background-size: compact(2em, false, false, false, false, false, false, false, false, false);
      background-size: compact(2em, false, false, false, false, false, false, false, false, false);
      -webkit-border-radius: 50%;
      -khtml-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }
      .sy-pager li a:link, .sy-pager li a:visited {
        opacity: 1.0; }
      .sy-pager li a:hover, .sy-pager li a:focus {
        opacity: 0.6; }

/* element to "keep/ fill" the space of the content, gets intrinsic height via js */
.sy-filler {
  width: 100%; }
  .sy-filler.ready {
    -webkit-transition: padding 600ms ease;
    -moz-transition: padding 600ms ease;
    transition: padding 600ms ease; }

/* Shop */
.shop {
  overflow: hidden;
  max-width: 100% !important; }

@media only screen and (min-width: 401px) {
  .shop .sy-box .sy-slides-wrap {
    min-width: 400px;
    max-width: 590px;
    width: 50%;
    margin-left: auto;
    margin-right: auto; } }
.shop .sy-box .sy-slides-crop {
  overflow: visible; }

@media only screen and (max-width: 500px) {
  .shop .sy-box .sy-controls li {
    min-width: 2.4em; }

  .shop .sy-box .sy-controls li a:after {
    line-height: 1.4em;
    height: 1.4em;
    width: 1.4em;
    margin-top: -0.7em;
    margin-left: -0.7em; } }
@media only screen and (min-width: 501px) {
  .shop .sy-box .sy-controls li {
    width: 100%; }

  .shop .sy-box .sy-controls li.sy-prev {
    left: -100%; }

  .shop .sy-box .sy-controls li.sy-next {
    right: -100%; }

  .shop .sy-box .sy-controls li a:after {
    background: none; } }
.shop .sy-box .sy-slide {
  opacity: 0.6;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

.shop .sy-box .sy-slide .button-link {
  opacity: 0; }

.shop .sy-box .sy-slide .button-link {
  position: absolute;
  bottom: 1em; }

.shop .sy-box .sy-slide .buy-now {
  bottom: -3em;
  right: 0;
  left: 0;
  text-align: center; }

@media only screen and (max-width: 500px) {
  .shop .sy-box .sy-slide .product-info .buy-now {
    right: 2.4em; } }
.shop .sy-box .sy-slide .image-content {
  line-height: 0; }

.shop .sy-box .sy-slide .image-content .product-image {
  max-width: 100%; }

.shop .sy-box .sy-slide.sy-active {
  opacity: 1; }

.shop .sy-box .sy-slide.sy-active .buy-now {
  opacity: 1; }

.shop .sy-box .sy-slide * {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

.product-name,
.shop-slider .slide_box {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

@media only screen and (min-width: 401px) {
  .product-name,
  .shop-slider .slide_box {
    min-width: 400px;
    max-width: 590px;
    width: 50%; } }
.shop-slider {
  float: left; }

header.navigation {
  background-color: transparent;
  font-family: "jaf-facitweb", "Din Next LT Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 600;
  height: 5.3125em;
  width: 100%;
  z-index: 999;
  position: absolute;
  margin-top: 1em; }
  header.navigation .menu-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999; }
    header.navigation .menu-wrapper:after {
      content: "";
      display: table;
      clear: both; }
    header.navigation .menu-wrapper:after {
      content: "";
      display: table;
      clear: both; }
  header.navigation .logo {
    float: left;
    max-height: 5.3125em;
    padding-left: 1em;
    padding-right: 2em; }
    header.navigation .logo img {
      max-height: 5.3125em;
      padding: .8em 0; }
  header.navigation .navigation-menu-button {
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    display: block;
    float: right;
    font-family: "jaf-facitweb", "Din Next LT Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 700;
    line-height: 5.3125em;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:hover {
      color: white; }
  header.navigation .nav {
    z-index: 9999999;
    float: none; }
    @media screen and (min-width: 53.75em) {
      header.navigation .nav {
        float: right; } }
  header.navigation ul#navigation-menu {
    clear: both;
    -webkit-transform-style: preserve-3d;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul#navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  header.navigation ul li {
    background: #bed62f;
    display: block;
    line-height: 5.3125em;
    overflow: hidden;
    padding-right: .8em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul li {
        background: transparent;
        display: inline;
        line-height: 5.3125em;
        text-decoration: none;
        width: auto;
        padding-right: 1.2em; } }
    header.navigation ul li a {
      font-weight: 600;
      font-size: 0.875rem;
      padding-bottom: 3px;
      color: rgba(255, 255, 255, 0.9); }
      header.navigation ul li a:hover {
        color: white;
        border-bottom: 2px solid white; }
  header.navigation .active-nav-item a {
    padding-bottom: 3px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5); }
  header.navigation li.more {
    padding-right: 0; }
    header.navigation li.more:hover .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more {
        position: relative;
        padding-right: .8em; } }
  header.navigation li.more a {
    padding-right: .8em; }
  header.navigation .submenu {
    display: none; }
    @media screen and (min-width: 53.75em) {
      header.navigation .submenu {
        position: absolute;
        top: 1em;
        left: -1em; } }
    header.navigation .submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        header.navigation .submenu li {
          line-height: 4.08654em; }
          header.navigation .submenu li:first-child a {
            padding-top: 1em; }
          header.navigation .submenu li:last-child a {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            padding-bottom: .7em; } }
      header.navigation .submenu li a {
        text-align: right;
        background-color: #b6cd28;
        width: 100%;
        display: inline-block; }
        @media screen and (min-width: 53.75em) {
          header.navigation .submenu li a {
            width: 12em;
            background-color: #bed62f;
            text-align: left;
            padding-left: 1em; } }
  header.navigation .navigation-tools {
    display: block;
    padding-right: 1em;
    padding-left: 0.5em;
    clear: both;
    background: #505050; }
    header.navigation .navigation-tools:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-tools {
        background: transparent;
        float: right;
        clear: none; } }
  header.navigation a.sign-up {
    margin-top: 13px;
    float: right;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline;
    background: #11afbc;
    border-radius: 0;
    color: white;
    font-size: .8em;
    font-weight: 800;
    text-transform: uppercase;
    padding: .4em .5em; }
    @media screen and (min-width: 53.75em) {
      header.navigation a.sign-up {
        padding: .4em 1em; } }
    header.navigation a.sign-up:hover {
      background: #16daea; }
  header.navigation .search-bar {
    padding: 13px 5px;
    float: left; }
    header.navigation .search-bar .search-and-submit {
      position: relative; }
      header.navigation .search-bar .search-and-submit input[type=search] {
        background: #c5da44;
        border: 1px solid #aec527;
        padding: .6em .8em;
        font-size: .9em;
        font-style: italic;
        color: rgba(255, 255, 255, 0.9);
        border-radius: 0;
        margin: 0; }
      header.navigation .search-bar .search-and-submit button[type=submit] {
        border: 1px solid #c7e228;
        border-radius: 3px;
        box-shadow: inset 0 1px 0 0 #e3ebb3;
        color: #333333;
        display: inline-block;
        font-size: inherit;
        font-weight: bold;
        background-color: #d2e36f;
        background-image: -webkit-linear-gradient(#d2e36f, #cbe436);
        background-image: linear-gradient(#d2e36f, #cbe436);
        padding: 7px 18px;
        text-decoration: none;
        text-shadow: 0 1px 0 #ddee78;
        background-clip: padding-box;
        position: absolute;
        top: 0.3em;
        right: 0.3em;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 15px; }
        header.navigation .search-bar .search-and-submit button[type=submit]:hover:not(:disabled) {
          box-shadow: inset 0 1px 0 0 #d5e289;
          cursor: pointer;
          background-color: #c8da5e;
          background-image: -webkit-linear-gradient(#c8da5e, #c6e12a);
          background-image: linear-gradient(#c8da5e, #c6e12a); }
        header.navigation .search-bar .search-and-submit button[type=submit]:active:not(:disabled), header.navigation .search-bar .search-and-submit button[type=submit]:focus:not(:disabled) {
          border: 1px solid #c7e228;
          box-shadow: inset 0 0 8px 4px #c0da21, inset 0 0 8px 4px #c0da21; }
        header.navigation .search-bar .search-and-submit button[type=submit]:disabled {
          opacity: 0.5;
          cursor: not-allowed; }
        header.navigation .search-bar .search-and-submit button[type=submit] img {
          height: 12px;
          opacity: .7; }
    @media screen and (min-width: 53.75em) {
      header.navigation .search-bar {
        width: 16em;
        position: relative;
        display: inline-block; }
        header.navigation .search-bar input {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: block; } }

.hero {
  background: url(/img/hero/hero_home_2.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  display: table;
  margin-bottom: 4.5em; }
  .hero .overlay {
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, transparent 50%, transparent 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, transparent 50%, transparent 100%);
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px; }
  .hero .hero-inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 11.3125em 10em 6em;
    margin: auto;
    text-align: center;
    color: white;
    position: relative;
    z-index: 99; }
    .hero .hero-inner:after {
      content: "";
      display: table;
      clear: both; }
    .hero .hero-inner:after {
      content: "";
      display: table;
      clear: both; }
    .hero .hero-inner button {
      font-size: 1em;
      outline: none; }
    .hero .hero-inner .learn-more {
      background-color: transparent;
      border: 1px solid white; }
      .hero .hero-inner .learn-more:hover {
        background-color: rgba(255, 255, 255, 0.2); }
    .hero .hero-inner .give {
      background-color: white;
      color: #576742;
      border: 1px solid white;
      margin-left: 1em;
      min-width: 5.625em; }
      .hero .hero-inner .give:hover {
        -webkit-box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.6);
        -moz-box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.6);
        box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.6); }
    .hero .hero-inner .hero-copy {
      text-align: center;
      margin-bottom: 3.875em; }
      .hero .hero-inner .hero-copy h1 {
        font-size: 1.8em;
        margin-bottom: .2em;
        font-weight: 200; }
        @media screen and (min-width: 53.75em) {
          .hero .hero-inner .hero-copy h1 {
            font-size: 4rem; } }
      .hero .hero-inner .hero-copy p {
        margin: auto;
        margin-bottom: 3em;
        font-weight: 200; }
        @media screen and (min-width: 53.75em) {
          .hero .hero-inner .hero-copy p {
            font-size: 1.2em;
            max-width: 40%; } }

.bullets {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  margin-bottom: 1.5em; }
  .bullets:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 53.75em) {
    .bullets > div {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .bullets > div:last-child {
        margin-right: 0; }
      .bullets > div:nth-child(4n) {
        margin-right: 0; }
      .bullets > div:nth-child(4n+1) {
        clear: left; } }
  .bullets .bullet-icon {
    width: 100%;
    height: 8.25em;
    margin: inherit auto;
    background-position: center center;
    background-repeat: no-repeat; }
  .bullets .bullet-icon-1 {
    background-image: url(/img/bullet_1.png); }
  .bullets .bullet-icon-2 {
    background-image: url(/img/bullet_2.png); }
  .bullets .bullet-icon-3 {
    background-image: url(/img/bullet_3.png); }
  .bullets .bullet-icon-4 {
    background-image: url(/img/bullet_4.png); }
  .bullets .bullet-content {
    margin-bottom: 2em;
    text-align: center; }
  .bullets h2 {
    font-size: 1rem;
    font-family: "bree", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    color: #11afbc;
    padding-top: 1em;
    margin-bottom: .5em;
    display: inline-block; }
  .bullets p {
    color: #7f7f7f;
    font-size: 0.9375rem; }

.featuredpage-newsfeed {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  border-top: 2px dotted #ddd;
  padding-top: 3rem;
  margin-bottom: 3em; }
  .featuredpage-newsfeed:after {
    content: "";
    display: table;
    clear: both; }
  .featuredpage-newsfeed > div {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    padding: 0.625rem 0; }
    .featuredpage-newsfeed > div:last-child {
      margin-right: 0; }
  .featuredpage-newsfeed .featured-page {
    padding-right: 4rem;
    border-right: 1px solid #ddd;
    min-height: 250px; }
    .featuredpage-newsfeed .featured-page h2 {
      font-weight: 100;
      font-size: 2.4375rem;
      margin-bottom: 0.875rem; }
    .featuredpage-newsfeed .featured-page p {
      font-size: 1.125rem;
      line-height: 1.625; }
    .featuredpage-newsfeed .featured-page button {
      background-color: white;
      border: 1px solid #11afbc;
      color: #11afbc; }
  .featuredpage-newsfeed .newsfeed {
    padding-left: 4rem; }
  .featuredpage-newsfeed .newsfeed li {
    margin-bottom: 0.8125rem; }
  .featuredpage-newsfeed .newsfeed-headline {
    font-style: italic;
    line-height: 1; }
  .featuredpage-newsfeed .newsfeed-meta {
    font-family: "jaf-facitweb", "Din Next LT Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    letter-spacing: -0.05em; }
  .featuredpage-newsfeed .divider {
    padding: 0 0.5em;
    color: #b2b2b2; }
  .featuredpage-newsfeed a.read-more {
    color: #11afbc; }
    .featuredpage-newsfeed a.read-more:hover {
      color: #444444; }

.testimonials-homepage {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .testimonials-homepage:after {
    content: "";
    display: table;
    clear: both; }
  .testimonials-homepage .inline-with-rule {
    text-align: center;
    margin-bottom: 0.5rem; }
  .testimonials-homepage .description {
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.625rem;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.125rem; }
  .testimonials-homepage .testimonial-widget {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    margin-bottom: 6.25rem; }
    .testimonials-homepage .testimonial-widget:last-child {
      margin-right: 0; }
    .testimonials-homepage .testimonial-widget > div {
      border: 1px solid #dddddd;
      margin-bottom: 0.875em; }
      .testimonials-homepage .testimonial-widget > div:after {
        content: "";
        display: table;
        clear: both; }
  .testimonials-homepage .testimonial-image {
    width: 46%;
    margin-right: 8%;
    float: left;
    overflow: hidden;
    max-height: 12.5em; }
    .testimonials-homepage .testimonial-image img {
      width: 100%; }
  .testimonials-homepage .testimonial-quote {
    float: left;
    width: 46%; }
    .testimonials-homepage .testimonial-quote p {
      position: relative;
      font-style: italic;
      font-weight: 100;
      color: #666666;
      font-size: 1.125rem;
      line-height: 1.4375rem;
      margin-top: 1.5em;
      padding-right: 1.5em; }
      .testimonials-homepage .testimonial-quote p::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 21px;
        top: -4px;
        left: -30px;
        background-image: url(/img/icon_quote.png);
        background-repeat: no-repeat;
        background-position: center center; }
    .testimonials-homepage .testimonial-quote .testimonial-name {
      font-style: normal;
      font-size: 1rem;
      color: #999999; }
  .testimonials-homepage .read-more {
    display: block;
    font-family: "jaf-facitweb", "Din Next LT Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 0.9375rem;
    font-weight: 600;
    text-align: right;
    color: #11afbc; }

footer {
  background: #bed62f;
  padding: 3em 1.618em;
  width: 100%;
  font-family: "jaf-facitweb", "Din Next LT Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }
  footer .colophon {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    footer .colophon:last-child {
      margin-right: 0; }
    footer .colophon li {
      font-size: 0.875rem;
      line-height: 1.55; }
    footer .colophon .logo {
      float: left;
      display: block;
      margin-right: 4.11092%;
      width: 25.63506%;
      margin-bottom: 1.75rem; }
      footer .colophon .logo:last-child {
        margin-right: 0; }
    footer .colophon .address {
      float: left;
      display: block;
      margin-right: 4.11092%;
      width: 25.63506%; }
      footer .colophon .address:last-child {
        margin-right: 0; }
    footer .colophon .phone-email {
      float: left;
      display: block;
      margin-right: 4.11092%;
      width: 55.38104%; }
      footer .colophon .phone-email:last-child {
        margin-right: 0; }
    footer .colophon .copyright {
      float: left;
      display: block;
      margin-right: 4.11092%;
      width: 100%;
      text-transform: uppercase;
      font-size: 0.75rem; }
      footer .colophon .copyright:last-child {
        margin-right: 0; }
      footer .colophon .copyright a {
        color: rgba(87, 103, 66, 0.7); }
        footer .colophon .copyright a:hover {
          color: #576742; }
  footer .tell-us-more {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    padding-left: 6%;
    border-left: 1px solid rgba(87, 103, 66, 0.2); }
    footer .tell-us-more:last-child {
      margin-right: 0; }
    footer .tell-us-more h3 {
      font-size: 1.875rem;
      line-height: 2.75rem;
      font-weight: 100;
      margin-bottom: 0.6875rem; }
    footer .tell-us-more p {
      font-size: 1.0625rem;
      line-height: 1.5rem;
      font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      margin-bottom: 2.5em;
      color: rgba(87, 103, 66, 0.75); }
    footer .tell-us-more select {
      width: 80%;
      float: left;
      -webkit-appearance: none !important;
      background-color: #bed62f;
      background-image: url(/img/icon_dropdown_arrow.png);
      background-repeat: no-repeat;
      background-position: 97% center;
      border: 1px solid rgba(87, 103, 66, 0.8);
      padding: 0.44444rem;
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.75);
      line-height: normal;
      border-radius: 0;
      height: 2.5rem; }
    footer .tell-us-more .button {
      width: 20%;
      float: left;
      color: #bed62f;
      background-color: rgba(87, 103, 66, 0.8);
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      display: block;
      position: relative;
      z-index: 2;
      text-align: center;
      padding-top: 0;
      padding-bottom: 0;
      border-style: solid;
      border-width: 1px;
      overflow: hidden;
      font-size: 1rem;
      height: 2.5rem;
      line-height: 2.5rem;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      padding-bottom: 0;
      text-align: center;
      border: none; }
  footer .footer-links {
    margin-bottom: 1.5em; }
    footer .footer-links:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (min-width: 40em) {
      footer .footer-links {
        margin-left: 25.58941%; } }
  footer ul {
    margin-bottom: 3em; }
    @media screen and (min-width: 40em) {
      footer ul {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        footer ul:last-child {
          margin-right: 0; }
        footer ul:nth-child(3n) {
          margin-right: 0; }
        footer ul:nth-child(3n+1) {
          clear: left; }
        footer ul:after {
          content: "";
          display: table;
          clear: both; } }
  footer li {
    text-align: center; }
    @media screen and (min-width: 40em) {
      footer li {
        text-align: left; } }
  footer li a {
    color: rgba(87, 103, 66, 0.7); }
    footer li a:hover {
      color: rgba(87, 103, 66, 0.8); }
  footer li h3 {
    color: rgba(87, 103, 66, 0.8);
    font-size: 1em;
    font-weight: 800;
    margin-bottom: .4em; }
  footer hr {
    border: 1px solid rgba(87, 103, 66, 0.4);
    margin: 0 auto 1.5em;
    width: 12em; }

.hero {
  background: url(/img/hero/hero_home_2.jpg); }

.subpage-with-subnav {
  /*
  .testimonial-widget {
    @include span-columns(6);
    }
  */ }
  .subpage-with-subnav .scroll-nav {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-left: 0%;
    position: absolute;
    z-index: 9; }
    .subpage-with-subnav .scroll-nav:last-child {
      margin-right: 0; }
    .subpage-with-subnav .scroll-nav.fixed .scroll-nav__wrapper {
      position: fixed;
      top: 2.5rem; }
    .subpage-with-subnav .scroll-nav .active a {
      color: black; }
    .subpage-with-subnav .scroll-nav li {
      font-size: 0.875rem;
      font-weight: 700;
      font-family: "jaf-facitweb", "Din Next LT Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      line-height: 2.25; }
  .subpage-with-subnav section {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .subpage-with-subnav section:after {
      content: "";
      display: table;
      clear: both; }
    .subpage-with-subnav section > * {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%;
      margin-left: 25.58941%; }
      .subpage-with-subnav section > *:last-child {
        margin-right: 0; }
  .subpage-with-subnav .mini-bullet-points {
    float: left;
    display: block;
    margin-right: 3.16844%;
    width: 88.53684%; }
    .subpage-with-subnav .mini-bullet-points:last-child {
      margin-right: 0; }
  .subpage-with-subnav .program-widget {
    float: left;
    display: block;
    margin-right: 3.16844%;
    width: 88.53684%; }
    .subpage-with-subnav .program-widget:last-child {
      margin-right: 0; }

.subpage .section-name.hidden {
  visibility: hidden;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  color: transparent; }
.subpage h2 {
  font-weight: 100;
  font-size: 2.4375rem;
  line-height: 1.2;
  margin-bottom: 0.6em; }
.subpage .scroll-nav__section > p {
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 88.53684%;
  font-size: 1.3125rem;
  line-height: 1.425; }
  .subpage .scroll-nav__section > p:last-child {
    margin-right: 0; }

.mini-bullet-points {
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 88.53684%;
  margin-top: 2.25em; }
  .mini-bullet-points:last-child {
    margin-right: 0; }

.mini-bullet-point {
  float: left;
  display: block;
  margin-right: 3.57866%;
  width: 48.21067%;
  margin-bottom: 1.05em; }
  .mini-bullet-point:last-child {
    margin-right: 0; }
  .mini-bullet-point:nth-child(2n) {
    margin-right: 0; }
  .mini-bullet-point:nth-child(2n+1) {
    clear: left; }
  .mini-bullet-point h4 {
    font-size: 1em;
    font-style: italic;
    color: #11afbc;
    margin-bottom: 0.3em; }
  .mini-bullet-point p {
    font-size: 1.1em;
    line-height: 1.41;
    padding-right: 10%; }

.info-snacks, .featured-quote {
  min-height: 30.625rem;
  background-color: #bed62f;
  text-align: center;
  padding: 9.375rem 0;
  margin: 4.2em 0; }

.info-snacks h3 {
  font-size: 2.8em;
  font-style: italic;
  color: white;
  margin-bottom: 1.05em; }
.info-snacks .big-number {
  font-size: 4.6875rem;
  font-weight: 100;
  color: black; }
.info-snacks .big-number-caption {
  font-size: 1.875rem;
  color: white;
  text-transform: uppercase;
  font-weight: 400; }

.featured-quote {
  background-color: #ddd; }
  .featured-quote .grid-wrapper {
    padding: 0 10em; }
  .featured-quote h3 {
    color: #11afbc;
    font-size: 2.6875rem;
    font-style: italic; }
  .featured-quote .quote-credit {
    font-size: 1.3em; }

.program-widget {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin: 1.5em 0 3.45em;
  background-color: white;
  border: 1px solid #dddddd; }
  .program-widget:last-child {
    margin-right: 0; }
  .program-widget .program-image {
    max-height: 16rem;
    margin: 0;
    overflow: hidden; }
    .program-widget .program-image img {
      width: 100%;
      height: auto; }
  .program-widget .program-info {
    padding: 3em;
    padding-top: 1.125em;
    text-align: center; }
    .program-widget .program-info h3 {
      font-size: 1.875rem;
      margin-bottom: 0.3em;
      color: #11afbc; }
    .program-widget .program-info p {
      font-size: 1.125rem;
      color: #7f7f7f; }

/*
.testimonial-widget {
  margin-bottom: rem(100);
}
*/
.shop {
  padding-bottom: 6.25rem; }

.shop-slider {
  margin-top: 1.5625rem; }

.testimonial-box {
  border: 1px solid #dddddd;
  margin-bottom: 0.875em; }
  .testimonial-box:after {
    content: "";
    display: table;
    clear: both; }

.testimonial-image {
  overflow: hidden;
  max-height: 12.5em; }
  .testimonial-image img {
    width: 100%; }

.testimonial-info {
  padding: 2.4em; }
  .testimonial-info h4 {
    font-size: 1.875rem;
    font-weight: 100;
    line-height: 1.05;
    margin-bottom: 0.45em; }
  .testimonial-info p {
    font-size: 1.125rem;
    color: #666666;
    line-height: 1.35; }

.subpage .testimonial-quote {
  padding: 2.4em; }
  .subpage .testimonial-quote p {
    position: relative;
    font-style: italic;
    font-weight: 100;
    color: #666666;
    font-size: 1.125rem;
    line-height: 1.4375rem;
    margin: 0 1.5em 0.75em 3em; }
    .subpage .testimonial-quote p::before {
      content: '';
      position: absolute;
      width: 24px;
      height: 21px;
      top: -4px;
      left: -30px;
      background-image: url(/img/icon_quote.png);
      background-repeat: no-repeat;
      background-position: center center; }
  .subpage .testimonial-quote .testimonial-name {
    margin-left: 3em;
    font-style: normal;
    font-size: 1rem;
    color: #999999; }

.read-more {
  display: block;
  font-family: "jaf-facitweb", "Din Next LT Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.9375rem;
  font-weight: 600;
  text-align: right;
  color: #11afbc; }
