* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.grid-wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .grid-wrapper:after {
    content: "";
    display: table;
    clear: both; }

.soft-dropshadow, .testimonials-homepage .testimonial-widget > div {
  -webkit-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.18); }

button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #bed62f;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #889a1e;
    color: white; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #444444;
  font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "bree", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #bed62f;
  text-decoration: none; }
  a:hover {
    color: #889a1e; }
  a:active, a:focus {
    color: #889a1e;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #6a6a6a;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #848484;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #bed62f;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(174, 197, 39, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

header.navigation {
  background-color: transparent;
  font-family: "jaf-facitweb", "Din Next LT Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 600;
  height: 3.75em;
  width: 100%;
  z-index: 999;
  position: absolute; }
  header.navigation .menu-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999; }
    header.navigation .menu-wrapper:after {
      content: "";
      display: table;
      clear: both; }
    header.navigation .menu-wrapper:after {
      content: "";
      display: table;
      clear: both; }
  header.navigation .logo {
    float: left;
    max-height: 3.75em;
    padding-left: 1em;
    padding-right: 2em; }
    header.navigation .logo img {
      max-height: 3.75em;
      padding: .8em 0; }
  header.navigation .navigation-menu-button {
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    display: block;
    float: right;
    font-family: "jaf-facitweb", "Din Next LT Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 700;
    line-height: 3.75em;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:hover {
      color: white; }
  header.navigation .nav {
    z-index: 9999999;
    float: none; }
    @media screen and (min-width: 53.75em) {
      header.navigation .nav {
        float: right; } }
  header.navigation ul#navigation-menu {
    clear: both;
    -webkit-transform-style: preserve-3d;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul#navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  header.navigation ul li {
    background: #bed62f;
    display: block;
    line-height: 3.75em;
    overflow: hidden;
    padding-right: .8em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul li {
        background: transparent;
        display: inline;
        line-height: 3.75em;
        text-decoration: none;
        width: auto; } }
    header.navigation ul li a {
      font-weight: 600;
      font-size: 0.875rem;
      display: inline-block;
      color: rgba(255, 255, 255, 0.9); }
      @media screen and (min-width: 53.75em) {
        header.navigation ul li a {
          padding-right: 1em; } }
      header.navigation ul li a:hover {
        color: white; }
  header.navigation .active-nav-item a {
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  header.navigation li.more {
    padding-right: 0; }
    header.navigation li.more:hover .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more {
        position: relative;
        padding-right: .8em; } }
  header.navigation li.more a {
    padding-right: .8em; }
  header.navigation .submenu {
    display: none; }
    @media screen and (min-width: 53.75em) {
      header.navigation .submenu {
        position: absolute;
        top: 1em;
        left: -1em; } }
    header.navigation .submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        header.navigation .submenu li {
          line-height: 2.88462em; }
          header.navigation .submenu li:first-child a {
            padding-top: 1em; }
          header.navigation .submenu li:last-child a {
            border-bottom-left-radius: 0.1875em;
            border-bottom-right-radius: 0.1875em;
            padding-bottom: .7em; } }
      header.navigation .submenu li a {
        text-align: right;
        background-color: #b6cd28;
        width: 100%;
        display: inline-block; }
        @media screen and (min-width: 53.75em) {
          header.navigation .submenu li a {
            width: 12em;
            background-color: #bed62f;
            text-align: left;
            padding-left: 1em; } }
  header.navigation .navigation-tools {
    display: block;
    padding-right: 1em;
    padding-left: 0.5em;
    clear: both;
    background: #505050; }
    header.navigation .navigation-tools:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-tools {
        background: transparent;
        float: right;
        clear: none; } }
  header.navigation a.sign-up {
    margin-top: 13px;
    float: right;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline;
    background: #bed62f;
    border-radius: 0.1875em;
    color: white;
    font-size: .8em;
    font-weight: 800;
    text-transform: uppercase;
    padding: .4em .5em; }
    @media screen and (min-width: 53.75em) {
      header.navigation a.sign-up {
        padding: .4em 1em; } }
    header.navigation a.sign-up:hover {
      background: #cbde5a; }
  header.navigation .search-bar {
    padding: 13px 5px;
    float: left; }
    header.navigation .search-bar .search-and-submit {
      position: relative; }
      header.navigation .search-bar .search-and-submit input[type=search] {
        background: #c5da44;
        border: 1px solid #aec527;
        padding: .6em .8em;
        font-size: .9em;
        font-style: italic;
        color: rgba(255, 255, 255, 0.9);
        border-radius: 0.375em;
        margin: 0; }
      header.navigation .search-bar .search-and-submit button[type=submit] {
        border: 1px solid #c7e228;
        border-radius: 3px;
        box-shadow: inset 0 1px 0 0 #e3ebb3;
        color: #333333;
        display: inline-block;
        font-size: inherit;
        font-weight: bold;
        background-color: #d2e36f;
        background-image: -webkit-linear-gradient(#d2e36f, #cbe436);
        background-image: linear-gradient(#d2e36f, #cbe436);
        padding: 7px 18px;
        text-decoration: none;
        text-shadow: 0 1px 0 #ddee78;
        background-clip: padding-box;
        position: absolute;
        top: 0.3em;
        right: 0.3em;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 15px; }
        header.navigation .search-bar .search-and-submit button[type=submit]:hover:not(:disabled) {
          box-shadow: inset 0 1px 0 0 #d5e289;
          cursor: pointer;
          background-color: #c8da5e;
          background-image: -webkit-linear-gradient(#c8da5e, #c6e12a);
          background-image: linear-gradient(#c8da5e, #c6e12a); }
        header.navigation .search-bar .search-and-submit button[type=submit]:active:not(:disabled), header.navigation .search-bar .search-and-submit button[type=submit]:focus:not(:disabled) {
          border: 1px solid #c7e228;
          box-shadow: inset 0 0 8px 4px #c0da21, inset 0 0 8px 4px #c0da21; }
        header.navigation .search-bar .search-and-submit button[type=submit]:disabled {
          opacity: 0.5;
          cursor: not-allowed; }
        header.navigation .search-bar .search-and-submit button[type=submit] img {
          height: 12px;
          opacity: .7; }
    @media screen and (min-width: 53.75em) {
      header.navigation .search-bar {
        width: 16em;
        position: relative;
        display: inline-block; }
        header.navigation .search-bar input {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: block; } }

.hero {
  background: url(/img/hero/hero_home_2.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  display: table;
  margin-bottom: 1.5em; }
  .hero .overlay {
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, transparent 50%, transparent 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, transparent 50%, transparent 100%);
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px; }
  .hero .hero-inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 8.75em 10em 6em;
    margin: auto;
    text-align: center;
    color: white;
    position: relative;
    z-index: 99; }
    .hero .hero-inner:after {
      content: "";
      display: table;
      clear: both; }
    .hero .hero-inner:after {
      content: "";
      display: table;
      clear: both; }
    .hero .hero-inner button {
      border: 1px solid #057781;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 #37d6e3;
      color: white;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      background-color: #11afbc;
      background-image: -webkit-linear-gradient(#11afbc, #06858f);
      background-image: linear-gradient(#11afbc, #06858f);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 #016870;
      background-clip: padding-box;
      font-size: 1em;
      outline: none; }
      .hero .hero-inner button:hover:not(:disabled) {
        box-shadow: inset 0 1px 0 0 #1bbecb;
        cursor: pointer;
        background-color: #1296a1;
        background-image: -webkit-linear-gradient(#1296a1, #067780);
        background-image: linear-gradient(#1296a1, #067780); }
      .hero .hero-inner button:active:not(:disabled), .hero .hero-inner button:focus:not(:disabled) {
        border: 1px solid #057781;
        box-shadow: inset 0 0 8px 4px #066871, inset 0 0 8px 4px #066871; }
      .hero .hero-inner button:disabled {
        opacity: 0.5;
        cursor: not-allowed; }
    .hero .hero-inner .hero-copy {
      text-align: center; }
      .hero .hero-inner .hero-copy h1 {
        font-size: 1.8em;
        margin-bottom: .2em;
        font-weight: 200; }
        @media screen and (min-width: 53.75em) {
          .hero .hero-inner .hero-copy h1 {
            font-size: 4rem; } }
      .hero .hero-inner .hero-copy p {
        margin: auto;
        margin-bottom: 3em;
        font-weight: 200; }
        @media screen and (min-width: 53.75em) {
          .hero .hero-inner .hero-copy p {
            font-size: 1.2em;
            max-width: 40%; } }

.bullets {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  margin-bottom: 1.5em; }
  .bullets:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 53.75em) {
    .bullets > div {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .bullets > div:last-child {
        margin-right: 0; }
      .bullets > div:nth-child(4n) {
        margin-right: 0; }
      .bullets > div:nth-child(4n+1) {
        clear: left; } }
  .bullets .bullet-icon {
    width: 100%;
    height: 8.25em;
    margin: inherit auto;
    background-position: center center;
    background-repeat: no-repeat; }
  .bullets .bullet-icon-1 {
    background-image: url(/img/bullet_1.png); }
  .bullets .bullet-icon-2 {
    background-image: url(/img/bullet_2.png); }
  .bullets .bullet-icon-3 {
    background-image: url(/img/bullet_3.png); }
  .bullets .bullet-icon-4 {
    background-image: url(/img/bullet_4.png); }
  .bullets .bullet-content {
    margin-bottom: 2em;
    text-align: center; }
  .bullets h2 {
    font-size: 1rem;
    font-family: "bree", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    color: #11afbc;
    padding-top: 1em;
    margin-bottom: .5em;
    display: inline-block; }
  .bullets p {
    color: #7f7f7f;
    font-size: 0.9375rem; }

.featuredpage-newsfeed {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  border-top: 2px dotted #ddd;
  padding-top: 3rem;
  margin-bottom: 1.5em; }
  .featuredpage-newsfeed:after {
    content: "";
    display: table;
    clear: both; }
  .featuredpage-newsfeed > div {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    padding: 0.625rem 0; }
    .featuredpage-newsfeed > div:last-child {
      margin-right: 0; }
  .featuredpage-newsfeed .featured-page {
    padding-right: 4rem;
    border-right: 1px solid #ddd;
    min-height: 250px; }
    .featuredpage-newsfeed .featured-page h2 {
      font-weight: 100;
      font-size: 2.4375rem;
      margin-bottom: 0.875rem; }
    .featuredpage-newsfeed .featured-page p {
      font-size: 1.125rem;
      line-height: 1.625;
      color: #999999; }
  .featuredpage-newsfeed .newsfeed {
    padding-left: 4rem; }
  .featuredpage-newsfeed .newsfeed li {
    margin-bottom: 0.8125rem; }
  .featuredpage-newsfeed .newsfeed-headline {
    font-style: italic;
    line-height: 1; }
  .featuredpage-newsfeed .newsfeed-meta {
    font-family: "jaf-facitweb", "Din Next LT Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    letter-spacing: -0.05em; }
  .featuredpage-newsfeed a.read-more {
    color: #11afbc; }
    .featuredpage-newsfeed a.read-more:hover {
      color: #444444; }

.testimonials-homepage {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .testimonials-homepage:after {
    content: "";
    display: table;
    clear: both; }
  .testimonials-homepage .inline-with-rule {
    text-align: center;
    margin-bottom: 0.5rem; }
  .testimonials-homepage .description {
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.625rem;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.125rem; }
  .testimonials-homepage .testimonial-widget {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    margin-bottom: 6.25rem; }
    .testimonials-homepage .testimonial-widget:last-child {
      margin-right: 0; }
    .testimonials-homepage .testimonial-widget > div {
      border: 1px solid #dddddd;
      margin-bottom: 0.875em; }
      .testimonials-homepage .testimonial-widget > div:after {
        content: "";
        display: table;
        clear: both; }
  .testimonials-homepage .testimonial-image {
    width: 46%;
    margin-right: 8%;
    float: left;
    overflow: hidden;
    max-height: 12.5em; }
    .testimonials-homepage .testimonial-image img {
      width: 100%; }
  .testimonials-homepage .testimonial-quote {
    float: left;
    width: 46%; }
    .testimonials-homepage .testimonial-quote p {
      position: relative;
      font-style: italic;
      font-weight: 100;
      color: #666666;
      font-size: 1.125rem;
      line-height: 1.4375rem;
      margin-top: 1.5em;
      padding-right: 1.5em; }
      .testimonials-homepage .testimonial-quote p::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 21px;
        top: -4px;
        left: -30px;
        background-image: url(/img/icon_quote.png);
        background-repeat: no-repeat;
        background-position: center center; }
    .testimonials-homepage .testimonial-quote .testimonial-name {
      font-style: normal;
      font-size: 1rem;
      color: #999999; }
  .testimonials-homepage .read-more {
    display: block;
    font-family: "jaf-facitweb", "Din Next LT Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 0.9375rem;
    font-weight: 600;
    text-align: right;
    color: #11afbc; }

footer {
  background: #bed62f;
  padding: 3em 1.618em;
  width: 100%;
  font-family: "jaf-facitweb", "Din Next LT Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }
  footer .colophon {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    footer .colophon:last-child {
      margin-right: 0; }
    footer .colophon .logo {
      float: left;
      display: block;
      margin-right: 4.11092%;
      width: 33.07155%;
      margin-bottom: 1.75rem; }
      footer .colophon .logo:last-child {
        margin-right: 0; }
    footer .colophon .address {
      float: left;
      display: block;
      margin-right: 4.11092%;
      width: 25.63506%; }
      footer .colophon .address:last-child {
        margin-right: 0; }
    footer .colophon .phone-email {
      float: left;
      display: block;
      margin-right: 4.11092%;
      width: 55.38104%;
      margin-left: 14.87299%; }
      footer .colophon .phone-email:last-child {
        margin-right: 0; }
    footer .colophon .copyright {
      float: left;
      display: block;
      margin-right: 4.11092%;
      width: 100%; }
      footer .colophon .copyright:last-child {
        margin-right: 0; }
  footer .tell-us-more {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    footer .tell-us-more:last-child {
      margin-right: 0; }
  footer p {
    color: rgba(87, 103, 66, 0.7);
    font-size: 0.9375rem;
    line-height: 1.5em;
    margin: auto; }
  footer .footer-links {
    margin-bottom: 1.5em; }
    footer .footer-links:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (min-width: 40em) {
      footer .footer-links {
        margin-left: 25.58941%; } }
  footer ul {
    margin-bottom: 3em; }
    @media screen and (min-width: 40em) {
      footer ul {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        footer ul:last-child {
          margin-right: 0; }
        footer ul:nth-child(3n) {
          margin-right: 0; }
        footer ul:nth-child(3n+1) {
          clear: left; }
        footer ul:after {
          content: "";
          display: table;
          clear: both; } }
  footer li {
    text-align: center; }
    @media screen and (min-width: 40em) {
      footer li {
        text-align: left; } }
  footer li a {
    color: rgba(87, 103, 66, 0.7); }
    footer li a:hover {
      color: #576742; }
  footer li h3 {
    color: #576742;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: .4em; }
  footer hr {
    border: 1px solid rgba(87, 103, 66, 0.4);
    margin: 0 auto 1.5em;
    width: 12em; }
