.bullets {
	@include outer-container;
  overflow: auto;
  margin-bottom: $base-line-height;

  & > div {
    @include media($large-screen) {
      @include span-columns(3);
      @include omega(4n);
    }
  }

  .bullet-icon {
    width: 100%;
    height: em(132);
    margin: inherit auto;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .bullet-icon-1 {
    background-image: url(/img/bullet_1.png);
  }

  .bullet-icon-2 {
    background-image: url(/img/bullet_2.png);
  }

  .bullet-icon-3 {
    background-image: url(/img/bullet_3.png);
  }
  
  .bullet-icon-4 {
    background-image: url(/img/bullet_4.png);
  }

  .bullet-content {
    margin-bottom: 2em;
    text-align: center;
  }

  h2 {
    font-size: rem(16);
    font-family: $display-font-family;
	font-style: italic;
	font-weight: 700;
	color: $blue;
    padding-top: 1em;
    margin-bottom: .5em;
    display: inline-block;
  }
  
  p {
	  color: tint(black, 50%);
	  font-size: rem(15);
  }
}