.featuredpage-newsfeed {
	@include outer-container;
	border-top: 2px dotted #ddd;
	padding-top: rem(48);
	margin-bottom: $base-line-height*2;
	
	& > div {
		@include media($large-screen) {
      @include span-columns(6);
      padding: rem(10) 0;
    }
	}
	
	.featured-page {
  	border-bottom: 1px solid #ddd;
  	padding-bottom: $base-line-height * 2;
  	margin-bottom: $base-line-height * 2.4;
  	
  	h2 {
    	font-weight: 100;
    	font-size: rem(39);
    	margin-bottom: rem(14);
  	}
  	
  	p {
    	font-size: rem(18);
    	line-height: (26 / 16);
    	//color: $medium-gray;
  	}
  	
  	button {
    	background-color: white;
      border: 1px solid $base-button-color;
      color: $base-button-color;
  	}
	}
	
	@include media($large-screen) {
	  .featured-page {
    	padding-right: rem(64);
    	border-bottom: none;
    	border-right: 1px solid #ddd;
    	min-height: 250px;
  	}
	}
	
	@include media($large-screen) {
  	.newsfeed {
    	padding-left: rem(64);
  	}
  	
  	.newsfeed li {
    	margin-bottom: rem(13);
  	}
  }
	
	.newsfeed ul {
  	list-style-type: none;
	}
	
	.newsfeed li {
	  width: 100%;
	  line-height: inherit;
  	margin-bottom: rem(20);
	}
	
	.newsfeed-headline {
  	font-style: italic;
  	line-height: 1;
  	//color: $dark-gray;
	}
	
	.newsfeed-meta {
  	font-family: $ui-font-family;
  	font-size: rem(14);
  	letter-spacing: -0.05em;
	}
	
	.divider {
  	padding: 0 0.5em;
  	color: tint(black, 70%);
	}
	
	a.read-more {
  	color: $blue;
  	
  	&:hover { color: $dark-gray; }
	}
	
}