.hero {	
	$hero-color: white;
	$navigation-height: em(60);
	
	background: url(/img/hero/hero_home_2.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	display: table;
	margin-bottom: $base-line-height;
	
	
	.overlay {
		@include background-image(linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%));
		display: block;
		@include position(absolute, 0px 0px 0px 0px);
	}
	
	.hero-inner {
		@include outer-container;
		@include clearfix;
		padding: ($navigation-height + 5em) 10em 6em;
		margin: auto;
		text-align: center;
		color: $hero-color;
		position: relative;
		z-index: 99;

		button {
			@include button(simple, $blue);
			font-size: $base-font-size;
			outline: none;
		}

		.hero-copy {
			text-align: center;
			
			h1 {
				font-size: 1.8em;
				margin-bottom: .2em;
				font-weight: 200;

				@include media($large-screen) {
					font-size: rem(64);
				}
			}

			p {
				margin: auto;
				margin-bottom: 3em;	
				font-weight: 200;

				@include media($large-screen) {
					font-size: 1.2em;
					max-width: 40%;
				}
			}
		}
	}
}