.hero {
	$hero-background: desaturate($base-accent-color, 30);	
	$hero-color: white;

	$image-gradient-color-top: shade($green, 20); 
	$transparency-top: .6;
	$image-gradient-color-bottom: $green; 
	$transparency-bottom: .6;
	$vertical-angle: 180deg;
	$navigation-height: em(60);
	
/*
	$image-gradient-color-left: red; 
	$transparency-left: .9;
	$image-gradient-color-right: yellow; 
	$transparency-right: .8;
	$horizontal-angle: 90deg;
*/
	
	background: url(/img/hero/hero_home.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	display: table;
	margin-bottom: $base-line-height;
	
	
	.overlay {
		@include linear-gradient($vertical-angle, transparentize($image-gradient-color-top, $transparency-top), 
		  transparentize($image-gradient-color-bottom, $transparency-bottom));
		display: block;
		@include position(absolute, 0px 0px 0px 0px);
		
/*
		&:after {
		  content: '';
		  @include linear-gradient($horizontal-angle, transparentize($image-gradient-color-left, $transparency-left), 
		    transparentize($image-gradient-color-right, $transparency-right));
		  display: block;
		  @include position(absolute, 0px 0px 0px 0px);
		}
*/
	}

	.hero-logo img {
		height: 4em;
		margin-bottom: 1em;
	}
	
	.hero-inner {
		@include outer-container;
		@include clearfix;
		padding: ($navigation-height + 3em) 4em 3em;
		margin: auto;
		text-align: center;
		color: $hero-color;
		position: relative;
		z-index: 99;

		button {
			@include button(simple, $base-accent-color);
			font-size: $base-font-size;
			outline: none;
		}

		.hero-copy {
			text-align: center;
			
			h1 {
				font-size: 1.8em;
				margin-bottom: .2em;
				font-weight: 200;

				@include media($large-screen) {
					font-size: 3.5em;
				}
			}

			p {
				margin: auto;
				margin-bottom: 3em;	
				font-weight: 200;

				@include media($large-screen) {
					font-size: 1.2em;
					max-width: 40%;
				}
			}
		}
	}
}