.subpage .hero {	
	background: url(/img/hero/hero_our.mission.jpg);
	background-position: center center;
}

.subpage {
  section {
    @include outer-container;
    padding: 0 $gutter;
    
    & > * {
      @include span-columns(9);
      @include shift(1.5);
    }
  }
}

.subpage-with-subnav {
  
  .scroll-nav {
    @include span-columns(3);
    @include shift(0);
    position: absolute;
    z-index: 9;
    
    &.fixed .scroll-nav__wrapper {
      position: fixed;
      top: rem(40);
    }
    
    .active a {
      //font-weight: 700;
      color: black;
    }
    
    li {
      font-size: rem(14);
      font-weight: 700;
      font-family: $ui-font-family;
      line-height: $unitless-line-height * 1.5;
    }
  }
  
  section {
    @include outer-container;
    padding: 0 $gutter;
    
    & > * {
      @include span-columns(9);
      @include shift(3);
    }
  }
  
  // Subpage overrides -- slightly redundant, unless these items get reused on other pages
  .mini-bullet-points {
    @include span-columns(8 of 9);
  }
  
  /*
  .testimonial-widget {
    @include span-columns(6);
    }
  */
}

.subpage {
  .section-name.hidden {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    color: transparent;
  }
  
  h2 {
    font-weight: 100;
    //font-size: $base-font-size * 2.5;
    font-size: rem(39);
    line-height: $unitless-line-height * .8;
    margin-bottom: $base-line-height * .4;
  }
  
  //section > p,
  .scroll-nav__section > p {
    @include span-columns(8 of 9);
    //font-size: $base-font-size * 1.4;
    font-size: rem(21);
    line-height: $unitless-line-height * .95;
  }
}

.mini-bullet-points {
  @include span-columns(8 of 9);
  margin-top: $base-line-height * 1.5;
}

.mini-bullet-point {
  @include span-columns(4 of 8);
  @include omega(2n);
  margin-bottom: $base-line-height * .7;
  
  h4 {
    font-size: $base-font-size;
    font-style: italic;
    color: $blue;
    margin-bottom: $base-line-height * .2;
  }
  
  p {
    font-size: $base-font-size * 1.1;
    line-height: $unitless-line-height * .94;
    padding-right: 10%;
  }
}

section ul {
  list-style: square;
  
  & > li {
    line-height: 1.3;
    margin-bottom: $base-line-height * 0.4;
    width: 60%;
  }
}

.list-large {
  list-style: none;
  padding:0;
  margin:0;
  font-size: em(20);
}

.list-large li { 
  width: 82%;
  padding-left: 1.7em;
  text-indent: -0.7em;
  line-height: 1.4;
  margin-bottom: $base-line-height * 0.4;
}

.list-large li:before {
  content: "•";
  font-size: em(16);
  color: $blue;
  display: inline-block;
  width: 0.6em;
}

cite {
  font-style: italic;
}

ul + cite {
  display: block;
  margin-bottom: $base-line-height;
  }

%section-breaks {
  min-height: rem(490);
  background-color: $green;
  background-size: cover;
  text-align: center;
  padding: rem(150) 0;
  margin: ($base-line-height * 2.8) 0;
  //z-index: 10; // pops the section over the subnav
  //position: relative; // fix to override the z-index layering of the subnav
}

.info-snacks {
  @extend %section-breaks;
  
  h3 {
    font-size: $base-font-size * 2.8;
    font-style: italic;
    color: white;
    margin-bottom: $base-line-height * .7;
  }
  
  .sliding-facts {
  }
  
  .big-number {
    font-size: rem(75);
    font-weight: 100;
    color: black;
  }
  
  .big-number-caption {
    font-size: rem(30);
    color: white;
    text-transform: uppercase;
    font-weight: 400;
  }
}

.featured-quote {
  @extend %section-breaks;
  //background-color: #ddd;
  background-color: white;
  position: relative;
  
  .grid-wrapper {
    padding: 0 10em;
  }
  
  h3 {
    color: $blue;
    font-size: rem(43);
    font-style: italic;
    margin-bottom: em(6);
  }
  
  .quote-credit {
    font-size: $base-font-size * 1.3;
  }
  
  .faded-background-image {
    background-image: url(/img/background-images/quote_bw.jpg);
    background-position: center center;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    //z-index: -1;
  }
}

.program-slider {
  @include span-columns(7 of 9);
  margin-top: $base-line-height;
  
  .sy-slides-wrap {
    background-color: white;
    border: 1px solid $light-gray;
    @extend .soft-dropshadow;
  }
  
  .sy-pager {
    margin-bottom: ($base-line-height * 2.3);
  }
  
  .sy-pager li {
    color: tint(black, 20%);
    margin: 0 .6em 0 0;
    
    a { 
      //@include size(.7em); 
      //position: relative;
      @include size(1em);
      @include prefixer(transition, scale 0.5s, webkit moz spec);
      @include prefixer(transform, scale(0.7), webkit moz spec);
      }
    
    &.sy-active a { 
      //border: 2px solid #FDB813;
      //@include size(1em);
      @include prefixer(transition, scale 0.5s, webkit moz spec);
      @include prefixer(transform, scale(1), webkit moz spec);
      //position: relative;
      //top: -0.15em;
      background-color: #FDB813;
      }
  }
  
  
  .program-image {
    max-height: rem(256);
    margin: 0;
    overflow: hidden;
    
    img {
      width: 100%;
      height: auto;
    }
  }
  
  .program-info {
    padding: $base-line-height * 2;
    padding-top: $base-line-height *.75;
    text-align: center;
    
    h3 {
      font-size: rem(30);
      margin-bottom: $base-line-height * .2;
      color: $blue;
    }
    
    p {
      font-size: rem(18);
      color: tint(black, 50%);
    }
  }
}




/*
.testimonial-widget {
  margin-bottom: rem(100);
}
*/

.testimonial-widget {
  padding-bottom: rem(100);
}

//  Constrains the testimonials widget to the grid somewhat, without using <section>
//  Could be cleaner
.testimonial-widget {
    @include outer-container;
    padding: inherit $gutter;
    
    .grid-push-3 {
      @include outer-container;
      
      & > * {
        @include span-columns(8);
        @include shift(3);
      }
    }
  }

.testimonial-widget-slider {
  margin-top: rem(25);
}

.testimonial-box {
  border: 1px solid $light-gray;
  //@extend .soft-dropshadow; //moved to slippry-testimonials
  @include clearfix;
  margin-bottom: em(14);
}

.testimonial-image {
    overflow: hidden;
    max-height: em(200);
    
    img { width: 100%; }
  }

.testimonial-info {
  padding: $base-line-height * 1.6;
  
  h4 {
    font-size: rem(30);
    font-weight: 100;
    line-height: $unitless-line-height * .7;
    margin-bottom: $base-line-height * .3;
  }
  
  p {
    font-size: rem(18);
    color: tint(black, 40%);
    line-height: $unitless-line-height * .9;
  }
}

.subpage .testimonial-quote {
  padding: $base-line-height * 1.6;
  
  p {
    position: relative;
    font-style: italic;
    font-weight: 100;
    color: tint(black, 40%);
    font-size: rem(18);
    line-height: rem(23);
    margin: 0 $base-line-height ($base-line-height * .5) ($base-line-height * 2);
    
    &::before {
      content: '';
      position: absolute;
      width: 24px;
      height: 21px;
      top: -4px;
      left: -30px;
      background-image: url(/img/icon_quote.png);
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  
  .testimonial-name {
    margin-left: $base-line-height * 2;
    font-style: normal;
    font-size: rem(16);
    color: tint(black, 60%);
  }
}
  
  
  