.hero {	
	background: url(/img/hero/hero_home_2.jpg);
}

.subpage-with-subnav {

  section {
    @include outer-container;
    
    & > * {
      @include span-columns(9);
      @include shift(3);
    }
  }
  
  .subpage-subnav {
    @include outer-container;
     & > ul {
       @include span-columns(3);
     }
  }
  
  .mini-bullet-points {
    @include span-columns(8);
  }
}

.subpage {
  h2 {
    font-weight: 100;
    font-size: $base-font-size * 2.5;
    line-height: $header-line-height * .9;
    margin-bottom: $base-line-height * .4;
  }
  
  section > p {
    @include span-columns(8);
    font-size: $base-font-size * 1.4;
    line-height: $base-line-height * .95;
  }
}

.mini-bullet-points {
  @include span-columns(8);
  margin-top: $base-line-height * 1.5;
}

.mini-bullet-point {
  @include span-columns(4 of 8);
  @include omega(2n);
  margin-bottom: $base-line-height * .7;
  
  h4 {
    font-size: $base-font-size;
    font-style: italic;
    color: $blue;
    margin-bottom: $base-line-height * .2;
  }
  
  p {
    font-size: $base-font-size * 1.1;
    line-height: $base-line-height * .94;
    padding-right: 10%;
  }
}