.testimonials-homepage {
  @include outer-container;
  
  .inline-with-rule {
    text-align: center;
    margin-bottom: rem(8);
  }
  
  .description {
    text-align: center;
    font-size: rem(18);
    line-height: rem(26);
    max-width: 50%;
    margin-left: auto; margin-right: auto;
    margin-bottom: rem(50);
  }
  
  .testimonial-widget {
    @include span-columns(8);
    @include shift(2);
    border: 1px solid $light-gray;
    margin-bottom: rem(100);
    @extend .soft-dropshadow;
  }
  
  .testimonial-image {
      width: 46%;
      margin-right: 8%;
      float: left;
      overflow: hidden;
      max-height: 200px;
      
      img { width: 100%; }
    }
    
    .testimonial-quote {
      float: left;
      width: 46%;
      
      p {
        //font-family: $display-font-family;
        font-style: italic;
        font-weight: 100;
        color: $medium-gray;
        font-size: rem(18);
        line-height: rem(23);
        margin-top: rem(30);
        padding-right: $base-line-height;
      }
      
      .testimonial-name {
        font-style: normal;
        font-size: rem(16);
        color: tint(black, 60%);
      }
    }
    
    .read-more {
      @include span-columns(8);
      @include shift(2);
      
      text-align: right;
    }
    
}