.testimonials-homepage {
  @include outer-container;
  
  .inline-with-rule {
    text-align: center;
    margin-bottom: rem(8);
  }
  
  .description {
    text-align: center;
    font-size: rem(18);
    line-height: rem(26);
    max-width: 50%;
    margin-left: auto; margin-right: auto;
    margin-bottom: rem(50);
  }
  
  .testimonial-box-horizontal {
    @include span-columns(8);
    @include shift(2);
    margin-bottom: rem(100);
    
    .testimonial-box {
      border: 1px solid $light-gray;
      @extend .soft-dropshadow;
      @include clearfix;
      margin-bottom: em(14);
    }
  }
  
  .testimonial-image {
      width: 46%;
      margin-right: 8%;
      float: left;
      overflow: hidden;
      max-height: em(200);
      
      img { width: 100%; }
    }
    
    .testimonial-quote {
      float: left;
      width: 46%;
      
      p {
        position: relative;
        font-style: italic;
        font-weight: 100;
        color: tint(black, 40%);
        font-size: rem(18);
        line-height: rem(23);
        margin-top: $base-line-height;
        padding-right: $base-line-height;
        
        &::before {
          content: '';
          position: absolute;
          width: 24px;
          height: 21px;
          top: -4px;
          left: -30px;
          background-image: url(/img/icon_quote.png);
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
      
      .testimonial-name {
        font-style: normal;
        font-size: rem(16);
        color: tint(black, 60%);
      }
    }
    
    .read-more {
      text-align: right;
    }
    
    .read-more a {
      font-family: $ui-font-family;
      font-size: rem(15);
      font-weight: 600;
      text-align: right;
      color: $blue;
    }
    
}