@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}


@if $border-box-sizing == true {
  * {
    @include box-sizing(border-box);
  }
}
